<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajout d'une personne</title>
</head>
<body>
<p><center>Ajouter une nouvelle personne à l'annuaire</center> </p>
<fieldset>
    <form action="/annuaire/ajouter" method="post">
        <label for="name">Prenom :
            <input type="text" id=
                    "name" name=
                           "name" size = "30"/>
        </label><br>
        <label for="surname">Nom :
        <input type="text" id=
                "surname" name=
                       "surname" size = "30"/>
        </label><br>
        <label for="phone">Telephone :
            <input type="text" id=
                    "phone" name=
                           "phone" size = "30"/>
        </label><br>
        <label for="city">Ville :
            <input type="text" id=
                    "city" name=
                           "city" size = "30"/>
        </label><br>
        <input type="submit" value=
                "Submit" />
    </form>
</fieldset>
</body>
</html>